#big-top {
  display: block; }

#masthead {
  width: 100%;
  max-width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  left: 0; }

.header-main {
  width: 25%;
  float: left;
  display: inline; }

#top-social {
  width: 75%;
  display: inline;
  padding-right: 1em; }
  #top-social .genericon {
    float: right;
    font-size: 1.5em;
    color: #24890d; }
    #top-social .genericon:first-child {
      margin-right: 1em; }
    #top-social .genericon:hover {
      color: white; }

nav#primary-navigation {
  width: 100%;
  display: block;
  top: 40px;
  left: 0px;
  position: absolute;
  padding-left: 30px; }

@media screen and (min-width: 768px) {
  .topbar-menu, .search-toggle {
    display: inline-block; }

  nav#primary-navigation {
    background: transparent; } }
@media screen and (max-width: 768px) {
  .search-toggle {
    position: absolute;
    top: 0px; }

  .topbar-menu {
    display: block;
    background-color: black; }

  .primary-navigation.toggled-on {
    display: block;
    padding: 48px 0 0 0px; }

  .nav-toggled {
    padding-top: 48px !important;
    padding-left: 0px !important; } }
