#top-big{
  display:block;
}

#masthead {
  width:100%;
  height:100px;
  background-color:#666;
  position:fixed;
  top:0;
  left:0;
}


#header-main {
  width: 25%;
  float: left;
  display: inline;
}
#top-bar-widgets {
  width: 75%;
  display:inline;
  p {
    float:right;
  }
}
nav#primary-navigation  {
  width: 100%;
  display:block;
  top: 40px;
  left: 0px;
  position: absolute;
  /*
  ul {
    li {
      display:inline;
      padding: 0px 15px 0 15px;
    }
    li:first-child {
      padding-left: 0px;
    }
  }*/
}